<h1>Login with popup</h1>

<p>
    Sample with a freely customized authentication solution
</p>

<p>
    As the AccessToken is passed in directly the OIDC library to be used can be chosen freely
</p>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" (click)="login()">Login</button>
    <button type="button" class="btn btn-secondary" (click)="logout()">Logout (local)</button>
    <button type="button" class="btn btn-secondary" (click)="disconnect()" *ngIf="upvApi">Disconnect BBV</button>
</div>

<hr/>

<label>
    user:
</label>

<pre>
    {{ user | json}}
</pre>

<hr/>

<div class="container">
    <div class="row">
        <div class="col" style="max-height: 60vh" #Container> <!--elements dimensions are used-->

            <ng-container>
                <ng-container #Target> <!--streaming component gets inserted here-->
                </ng-container>
            </ng-container>

        </div>
    </div>
</div>