<h1>Premade Login with redirect</h1>

<p>This samples uses the premade quickSignIn method</p>
<p>Tokens are handled internally</p>

<hr />

<label>
    user:
</label>

<pre>
    {{ userInfo?.profile | json}}
</pre>

<hr />

<div class="container">
    <div class="row">
        <div class="col" style="height: 80vh;" #Container> <!--elements dimensions are used-->

            <ng-container>
                <ng-container #Target> <!--streaming component gets inserted here-->
                </ng-container>
            </ng-container>

        </div>
    </div>
</div>